<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>Vue</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>

  <body>
    <div id="app">
      <!-- 그냥  -->
      <div v-for="p in myArr">{{p.name}} / {{p.age}}</div>
      <hr />
      <!-- 순서가 굉장히 중요하다. -->
      <div v-for="(p, index) in myArr">{{index}} : {{p.name}} / {{p.age}}</div>
      <hr />
      <!-- 객체순회  -->
      <div v-for="value in myObj">{{value}}</div>
      <hr />
      <div v-for="(value, key) in myObj">{{key}} : {{value}}</div>
      <hr />
      <div v-for="(value, key, index) in myObj">{{index}} - {{key}} : {{value}}</div>
      <hr />

      <!-- 여러요소를 동레벨로 반복 돌리고 싶다. -->
      <ul>
        <template v-for="item in myArr">
          <li>{{item.name}}</li>
          <li>{{item.age}}</li>
        </template>
      </ul>
      <!-- 중첩반복문 -->
      <hr />
      <ul v-for="item in myInfo">
        <li v-for="friend in item.friends">{{item.name}}는 {{friend}}와 친구입니다.</li>
      </ul>
      <hr /> 
      <!-- 구구단 작성 -->
    </div>
    <script>
      const { createApp, ref } = Vue;

      const app = createApp({
        setup() {
          const myArr = ref([
            { name: "Alice", age: 20 },
            { name: "Bella", age: 21 },
          ]);
          const myObj = ref({
            name: "Cathy",
            age: 30,
          });

          // nested v-for
          const myInfo = ref([
            { name: "Alice", age: 20, friends: ["Bella", "Cathy", "Dan"] },
            { name: "Bella", age: 21, friends: ["Alice", "Cathy"] },
          ]);

          return {
            myArr,
            myObj,
            myInfo,
          };
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
